<% include ./partials/header.ejs%>
    <section class="h-full w-full px-16 flex-1 flex gap-2 my-8">
        <%include ./partials/profile.ejs%>
        <div class="right w-3/4 bg-white min-h-full">
            <h1 class="text-2xl h-20 flex items-center px-4 border-b-4 py-4">Personal Info</h1>
            <div class="right-bottom">
                <div class="details mt-2 px-6">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-1" for="fullname">
                          Full Name
                        </label>
                        <div class="shadow border rounded w-full py-2 px-2 text-gray-700 leading-tight">
                          <%=loggedUser.username%>
                        </div>
                       </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-1" for="fullname">
                          Email
                        </label>
                        <div class="shadow border rounded w-full py-2 px-2 text-gray-700 leading-tight">
                          <%=loggedUser.email%>
                        </div>
                      </div>

                      <%if(loggedUser.address.street){%>
                        
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-1" for="address">
                          Address
                        </label>
                        <div class="shadow border rounded w-full py-2 px-2 text-gray-700 leading-tight">
                          <%=loggedUser.address.street +', '+ loggedUser.address.city+', '+ loggedUser.address.state+', '+ loggedUser.address.country +', '+loggedUser.address.pincode%>
                        </div>
                      </div>
                      <%}else{%>
                        <a href="/account/addresses" class="block w-max -mt-1 text-sm">Kindly complete the address details. <span class="text-red-600 text-xs border-b border-red-500">(Manage Addresses)</span> </a>
                        <%}%>
      
    
                </div>
            </div>

            
            
        </div>
    </section>  




<% include ./partials/footer.ejs%>